# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# Build
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Documentation
*.md
!README.md

# K{}